extends layout

block content
  h1 Minimal Encryption Service
  p.lead A bare bones encryption service.
  hr
  .row
    .col-sm-6
      h2 Generate Key Pair
      p
        | Generate a key pair by clicking
        | #[a(href="/api/key") "Generate Private Key"]
        | in the nav bar above
    .col-sm-6
      h2 Encrypt File
      p
        | Encrypt a file by clicking
        | #[a(href="/api/upload") "Upload File"]
        | in the nav bar above
